    <%= render 'shared/navbar' %>


<h1 class="text-center od mb-5 mt-5">Choose a name and image for your cocktail!</h1>

<div class="d-flex p-2 justify-content-center ">

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "add cocktail", class: "btn btn-primary" %>
<% end %>

</div>

<!-- as: :radio_buttons -->
<!-- as: :check_boxes -->

<!-- col md-6 -->
