<h1>COCKTAIL INGREDIENTS</h1>

<h3> <%= @cocktail.name %></h3>

<h4>Ingredients:</h4>


        <!-- <%= link_to @cocktail.doses %> -->

<ul>
<% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %></li>
        <li><%= dose.description %></li>
        <li><%= link_to "delete", dose_path(dose), method: :delete %></li>
        <li>......................</li>
    <% end %>

</ul>

<%#= simple_form_for(@dose) do |f| %>
    <%#= f.input :, collection: @cocktail.doses %>
    <%#= f.submit %>
<%# end %>






<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, collection: %i[5ml 10ml 15ml 20ml 25ml 30ml 40ml 50ml 60ml 70ml 100ml 200ml top_up 8_leaves] %>
  <%= f.association :ingredient %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
