<%= render 'shared/navbar-show' %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photos.first.key %>)">
  <%= @cocktail.name %>
</div>

<h2 class="text-center od" ><%= @cocktail.name %></h2>

<!-- <div class="container" >
<% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>

<% end %>
</div>

<div class="container">

<div class="container od" style="width: 100%; display: table;">
  <div class="od">Ingredients:</div>
    <% @cocktail.doses.each do |dose| %>
  <div><%= dose.ingredient.name %>
        <%= dose.description %>
        <%= link_to "delete", dose_path(dose), method: :delete %>
  </div>
    <% end %>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-sm-6 m-3">
        <% @cocktail.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
    </div>
    <div class="col-sm-4 m-3">
      <div class="od">Ingredients:</div>
      <% @cocktail.doses.each do |dose| %>
        <div><%= dose.ingredient.name %>
             <%= dose.description %>
             <%= link_to "delete", dose_path(dose), method: :delete %>
        </div>
            <% end %>
    </div>
  </div>
</div>
