<%= render 'shared/navbar-show' %>


<h2 class="text-center od" ><%= @cocktail.name %></h2>

<!-- <div class="container" >
<% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>

<% end %>
</div>

<div class="container">

<div class="container od" style="width: 100%; display: table;">
  <div class="od">Ingredients:</div>
    <% @cocktail.doses.each do |dose| %>
  <div><%= dose.ingredient.name %>
        <%= dose.description %>
        <%= link_to "delete", dose_path(dose), method: :delete %>
  </div>
    <% end %>
  </div> -->

  <div class="container flex">
      <div class="row">
        <% if @cocktail.photos != nil %>
        <% @cocktail.photos.each do |photo| %>
        <div class="col-sm-12 col-lg-6 m-3">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:"photo" %>
        </div>
        <% end %>
        <% end %>
      </div>

    <div class="row">
      <div class="col-sm-12 col-lg-8 m-3">
        <div class="od">Ingredients:</div>
        <% @cocktail.doses.each do |dose| %>
        <div><%= dose.ingredient.name %>
         <%= dose.description %>
       </div>
       <% end %>
     <div class="description">
        <div class="od">How to::</div>
      <% if @cocktail.description != nil %>
      <%= @cocktail.description.how_to %>
      <% end %>
    </div>
    <div class="edit">
      <%= link_to "Edit cocktail", edit_cocktail_path(@cocktail), class: "dropdown-item" %>
     </div>
    </div>
  </div>

</div>
